<%= render "student_search_form" %>

<table class = "table table-bordered table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>GPA</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= link_to(student.first, student) %></td>
    <td><%= link_to(student.last, student) %></td>
    <td><%= link_to(student.average_gpa, student) %></td>
  </tr>
<% end %>
</table>
